.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  font-size: 48px;
  font-weight: 800;
  color: tomato;
  background: white;
  padding: 4px 50px;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;

}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}